observatory/src/main/resources/
observatory/project/target/
observatory/capstone-ui/target/
observatory/project/project/target/
observatory/target/
.metadata/
observatory/bin/
observatory/.cache-main
observatory/.cache-tests
